<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnNXJC" connectionString="Data Source=ADMIN-PC;Initial Catalog=NXJC;User Id=sa; Password = 123456"/>
  </connectionStrings>
  <appSettings>
    <!--SetSkins -->
    <!--SetGridViewPageSize -->
    <add key="DefaultPageSize" value="50"/>
    <!--SetStationId -->
    <add key="UserStationId" value="山东恒拓"/>
    <!-- UpLoad File Root Path -->
    <add key="FileRootPath" value="C:\工作\"/>
    <!-- RunTime Selection Interval -->
    <add key="RunTimeInterval" value="3000"/>
    <!-- FactoryMapping-->
    <add key="MainFrame" value="C:\工作\编程\恒拓软件\三层框架V3.1\IndustryEnergy\IndustryEnergy.Dal\bin\Debug\IndustryEnergy.Dal.dll,IndustryEnergy.Dal"/>
    <add key="MaxRecords" value="1000"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FilesTransportSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:13409/WebService/FilesTransport.asmx"
        binding="basicHttpBinding" bindingConfiguration="FilesTransportSoap"
        contract="ServiceReference_FilesTransport.FilesTransportSoap"
        name="FilesTransportSoap" />
    </client>
  </system.serviceModel>
</configuration>